#RecentAndUpcoming {
	table {
		width:					756px;
	
		tr {
			th, td {
				border:			0;
				padding:		3px;
			}
		
			th {
				text-align:		left;
				border-bottom:	1px solid #ddd;
			}

			td {
				p {
					margin:		0;
					padding:	0;
				}
			}
		}
	}
}