$death_knight:	#c41e3a;
$druid:			#ff7d0a;
$hunter:		#ABD473;
$mage:			#69CCF0;
$paladin:		#F58CBA;
$priest:		#ffffff;
$rogue:			#fff569;
$shaman:		#2459ff;
$warlock:		#9482ca;
$warrior:		#c79c6e;

// Death Knight
.deathknight {
	color:				$death_knight;
}

.deathknight_bg {
	background-color:	$death_knight;
}

.deathknight_border {
	border-color:		$death_knight;
}


// Druid
.druid {
	color:				$druid;
}

.druid_bg {
	background-color:	$druid;
}

.druid_border {
	border-color:		$druid;
}


// Hunter
.hunter {
	color:				$hunter;
}

.hunter_bg {
	background-color:	$hunter;
}

.hunter_border {
	border-color:		$hunter;
}


// Mage
.mage {
	color:				$mage;
}

.mage_bg {
	background-color:	$mage;
}

.mage_border {
	border-color:		$mage;
}


// Paladin
.paladin {
	color: 				$paladin;
}

.paladin_bg {
	background-color:	$paladin;
}

.paladin_border {
	border-color:		$paladin;
}


// Priest
.priest {
	color:				$priest;
}

.priest_bg {
	background-color:	$priest;
}

.priest_border {
	border-color:		$priest;
}


// Rogue
.rogue {
	color:				$rogue;
}

.rogue_bg {
	background-color:	$rogue;
}

.rogue_border {
	border-color:		$rogue;
}


// Shaman
.shaman {
	color:				$shaman;
}

.shaman_bg {
	background-color:	$shaman;
}

.shaman_border {
	border-color:		$shaman;
}


// Warlock
.warlock {
	color:				$warlock;
}

.warlock_bg {
	background-color:	$warlock;
}

.warlock_border {
	border-color:		$warlock;
}


// Warrior
.warrior {
	color:				$warrior;
}

.warrior_bg {
	background-color:	$warrior;
}

.warrior_border {
	border-color:		$warrior;
}
