<div id="Homepage_Bonus_FindGuild">
	<p>
		<strong>Looking for your guild?</strong>
		If you are new to <strong>srs</strong>guild,
		you should start by <%= link_to('signing up', new_account_url) %> 
		for a free account.
	</p>
</div>