<% title 'pricing' %>
<div id="Home_Pricing">
	<h1>Pricing</h1>
	
	<p style="text-align: center; font-size: 18px;">
		During our beta, all <strong>srs</strong>guild services will be
		<em>totally free</em>.
	</p>
	
	<p>
		That being said, we do plan to start charging a monthly fee in the
		future for each guild that chooses to use our service. We have not
		yet finalized anything regarding pricing. 
		<%= link_to('Send us your feedback', contact_url) %> and tell us what 
		we are worth!
	</p>
	
	<p>
		<em>Rest assured</em>, we will provide all of our beta users with 
		ample warning before we start charging for our service. And, while
		we can't promise anything specific, it's a pretty safe bet that we'll 
		find a way to reward our beta testers when the time comes.
	</p>
		
	<p>
		We are working hard to create a product worthy of your business. 
		Specifically we want to save you as much time and hassle as we can, 
		so if you know of a way we can make your life easier, please 
		<%= link_to('let us know', contact_url) %>.
	</p>
</div>