<strong>Why do you want my mobile number?</strong><br/>
<p style="margin: 5px 0 0 0;">
	Your guild may choose to utilize <strong>srs</strong>guild's SMS communication
	features. In order to participate, you will need to provide a number
	where you can receive SMS messages. Your number will never
	be disclosed to anyone else. Not even to your guild mates.
</p>

<p style="margin: 5px 0 0 0;">
	US users should enter their 10 digit mobile phone number without any
	parentheses or hyphens. (For example: "2065551234") International users
	should enter their full mobile number, preceded by their country code.
	You do not need to include an international dialing prefix. (For example, a
	French mobile number should be entered as: "33112345678")
</p>

<p style="margin: 5px 0 0 0; font-size: 0.85em;">
	Standard SMS rates from your provider will apply
	to any messages you receive through <strong>srs</strong>guild.
</p>