<% title 'verify account' %>
<h2>Verify Account</h2>

<p>
	Please enter your email verification code below or click on the link in 
	the verification email we sent in order to verify your account.
</p>

<% form_tag(verify_manual_account_url, :method => :put) do %>
	<p>
		<label for="verification_value">Verification Code:</label><br />
		<input type="text" name="verification_value" size="10" />
	</p>

	<input type="submit" value="verify email" />
<% end %>

<br />
<br />


<p>
	If you did not receive a verification email, enter your email address 
	below and we will send you a new one!
</p>

<% form_tag(resend_confirmation_account_url, :method => :put) do %>
	<p>
		<label for="verify_email">Email Address:</label><br />
		<input type="text" name="verify_email" size="30" />
	</p>
	
	<input type="submit" value="send new verification message" />
<% end %>