<% title 'password reminder' %>
<div id="Account_ForgotPassword">
	<h2>Forgot your password?</h2>
	
	<div class="grid_6 alpha">
		<p>
			Don't worry just enter your email address here and we'll send you 
			a link you can use to reset your password. Just make sure to keep 
			it in a safe place this time!
		</p>
		
		<p>
			If you don't remember the email address you signed up under, or
			if you are having any other problems with this password reset
			procedure, please <%= link_to('contact support', contact_url) %>.
		</p>
	</div>
	<div class="clear"></div>
	
	<% form_tag(remind_account_url, :method => :post, :class => 'srsform') do %>
		<div class="fieldrow">
			<label for="email">Your E-mail:</label>
			<div class="field"><%= text_field_tag('email', @email, {:class => 'text', :style => 'width: 300px;'}) %></div>
		</div>
		
		<div class="buttonrow">
			<% center_buttons do %>
				<button type="submit" class="button positive">
					<%= image_tag('icons/tick.png') %> send reminder
				</button>
				<% link_to(login_url, :class => "button negative") do %>
					<%= image_tag('icons/arrow_left.png') %> wait, I remember now!
				<% end %>
			<% end %>
		</div>
	<% end %>
</div>