<% title 'choose a new password' %>
<div id="Account_NewPassword">
	<h2>Choose a New Password</h2>
	
	<div class="grid_6 alpha">
		<p>
			Hooray! You're only moments away from being in possession of a 
			shiny new password! Choose your new password below. Don't
			forget to write it down in a safe place this time!
		</p>
	</div>
	<div class="clear"></div>
	
	<% form_tag(reset_password_account_url, :method => :put, :class => 'srsform') do %>
		<%= hidden_field_tag('reset_code', @account.password_reset_value) %>
		
		<div class="fieldrow">
			<label for="new_password">New Password:</label>
			<div class="field">
				<%= password_field_tag('new_password', nil, :size => 24, :class => 'text') %>
			</div>
		</div>

		<div class="fieldrow">
			<label for="new_password_confirmation">Confirm Password:</label>
			<div class="field">
				<%= password_field_tag('new_password_confirmation', nil, :size => 24, :class => 'text') %>
			</div>
		</div>
		
		<div class="buttonrow">
			<% center_buttons do %>
				<button type="submit" class="button positive">
					<%= image_tag('icons/tick.png') %> reset password
				</button>
			<% end %>
		</div>
		
	<% end %>
</div>